body {
    background-image: url(background-book.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header1{ background-color: lightyellow;
    display: inline-block;
    color: plum;
    padding: 10px;
    padding-inline: 570px;
}

#header2{color: purple;
    text-align: center;
    margin-bottom: 1px;
}

#header3{color: red;
    text-align: center;
    margin-top: 1px;
}

.book{background-color: #90ee9065;
    display: block;
    text-align: center;
    margin: 20px;
    margin-inline: 350px;
    padding: 20px;
}

.text{color: blue;
    margin: 10px;
    margin-bottom: 50px;  
}

#link{margin-left: 1300px;}
